<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tmac.onsite">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- JPush -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/customTheme">
        <activity
            android:name=".activity.WelcomeActivity"
            android:theme="@style/AppBaseTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.DisplayConstructImgActivity"
            android:theme="@style/StyledIndicators" />
        <activity android:name="com.toolset.activity.basicActivity" />
        <activity
            android:name="me.tmac.photopicker.PhotoPickerActivity"
            android:theme="@style/customTheme" />
        <activity
            android:name="me.tmac.photopicker.PhotoPagerActivity"
            android:theme="@style/customTheme" />
        <activity
            android:name="me.tmac.photopicker.PhotoCamDisplayActivity"
            android:theme="@style/customTheme" />

        <service
            android:name=".service.MainService"
            android:enabled="true" />
        <service
            android:name=".service.AssistService"
            android:enabled="true" />

        <receiver android:name=".service.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- JPush 配置 AppKey -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="27d43a48ffec43b3e199ce24" />

        <activity android:name=".activity.LoginActivity"
            android:theme="@style/AppBaseTheme"></activity>
        <activity
            android:name=".activity.GuideActivity"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name=".activity.ActivationActivity"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name=".activity.IdentifyActivity"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/ColorTranslucentTheme" />
        <activity android:name=".activity.DetailTaskActivity" />
        <activity android:name=".activity.DetailNoBeginActivity" />
        <activity android:name=".activity.UploadImgActivity" />
        <activity android:name=".activity.SelectImgActivity" />
        <activity android:name=".activity.LoginActivityAbandon" />
        <activity android:name=".activity.CannotFinishActivity" />
        <activity android:name=".activity.UseDirectionActivity" />
        <activity android:name=".activity.UseAgreementActivity" />
        <activity android:name=".activity.MessageActivity" />
    </application>

</manifest>